@model ShareNow.ViewModel.LoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";

}

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "frmLogin" }))
{
    @Html.HiddenFor(model => model.ReturnUrl)
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 label">
                        @Html.LabelFor(model => model.UserName):
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.UserName)
                    </div>
                </div>
                <div class="row" style="margin:10px">
                </div>
                <div class="row">
                    <div class="col-md-6 label">
                        @Html.LabelFor(model => model.Password):
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Password)
                    </div>
                </div>
                <div class="row" style="margin:10px">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <input type="submit" value="Login" style="border-radius: 6px;" />
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

