<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/Site.css")
</head>
<body style="background-color: transparent;">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-2" id="logo" style="height:180px;"></div>
                <div class="col-md-10">
                    <div class="row" style="height:120px;font-size:40px;font-family:nulshock;font-weight: bold;">ShareNow</div>
                    <div class="row">
                        <ul class="nav navbar-nav hovereffect">
                            <li id="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "activemenu" : "")">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "menubar" })</li>
                            <li id="@(ViewContext.RouteData.Values["Controller"].ToString() == "Pay" ? "activemenu" : "")">@Html.ActionLink("Pay", "Index", "Pay", new { area = "" }, new { @class = "menubar" })</li>
                            <li id="@(ViewContext.RouteData.Values["Controller"].ToString() == "Group" ? "activemenu" : "")">@Html.ActionLink("Group", "Index", "Group", new { area = "" }, new { @class = "menubar" })</li>
                            <li id="@(ViewContext.RouteData.Values["Controller"].ToString() == "Share" ? "activemenu" : "")">@Html.ActionLink("Share", "Index", "Share", new { area = "" }, new { @class = "menubar" })</li>
                            @*<li>@Html.ActionLink("Report", "Index", "Report")</li>*@
                            <li id="@(ViewContext.RouteData.Values["Controller"].ToString() == "Logout" ? "activemenu" : "")">@Html.ActionLink("Logout", "Index", "Login", new { area = "" }, new { @class = "menubar" })</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>
