<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Share Now</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-2" id="logo" style="height:180px;"></div>
            <div class="col-md-10">
                <div class="row" style="height:120px;font-size:40px;font-family:nulshock;font-weight: bold;">ShareNow</div>
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <div class="row">
                            <ul class="nav navbar-nav hovereffect">
                                <li id="SignUpMenu">@Html.ActionLink("SignUp", "Index", "SignUp")</li>
                                <li id="LoginMenu">@Html.ActionLink("Login", "Index", "Login")</li>
                            </ul>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>